langchain
langchain-community
langchain-core
langsmith
langchain-google-genai
pydantic
python-dotenv
ipykernel
langchain-groq
pandas
langchain-chroma
langchain-google-vertexai
langchain-groq
google-generativeai
langchain-huggingface
sentence-transformers
uvicorn
fastapi
langchain_google_firestore
firebase_admin